/*
1. Posicionamiento.
2. Modelo de caja.
3. Tipografía.
4. Visualización.
5. Otros
*/

:root {
  /* Colors */
  --bitcoin-orange: #F7931A;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a94f7;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #757575;
  --light-grey: #808080;
  --off-white: #faf8f7;
  --just-white: #fff;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--off-white);
}

/* Header */
header {
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
      207.8deg,
       var(--black) 16.69%, 
       var(--bitcoin-orange) 100%);
}

header img {
  display: block; 
  margin: 30px auto 0; 
  width: 151px; 
  height: 24px; 
}


.header--title-container {
  width: 98%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--title-container p {
  margin-top: 45px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
} 


.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background: var(--off-white);

  /* Sombras */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.20);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--title-container .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor Principal de Exchange */
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--off-white);
}

.payment-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--off-white);
  margin-top: 1px;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.payment-container--title {
  width: 100%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg  {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('./assets/imgs/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-bottom:  30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.payment-container h2 {
  margin-bottom:  30px;
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size:1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--grey);
}

.payment-container p {
  margin-bottom: 30px;
  font-size:14px;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--grey);
}


.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--bitcoin-orange);
}

.main-table-container {
  width: 100%;
  min-width: 230px;
  max-width: 300px;
  height: 290px;
  margin: 0 auto;
}

.currency-table--container {
  border-collapse: separate;
  overflow: hidden;
  background-color: var(--off-white);
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.9rem;
  color: var(--grey);
  background-color: var(--just-white);
  padding: 10px;
}


.currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
  border-radius:0 15px 0 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.7rem;
  padding-top: 20px;
  padding-bottom: 16px;
  color: #757575;
}

.currency-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  margin: auto;
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--soft-orange);
  display: inline-block; 
  margin-bottom: 50px;
  position: relative; 
  z-index: 10; 
}

.currency-table--date p {
  font-size:  1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.currency-table--date b {
  margin-right: 1px
}


.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 0px;
  background-color: var(--warm-black);
  z-index: 0;
  margin-top: 100px;
}

.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 30px);
  background-image: url("./assets/icons/batata.svg");
}

.product-detail--title {
  width: 90%;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: var(--just-white);
}

.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--light-grey);
}

.product-detail--card {
  width: 90%;
  min-width: 280px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.product-detail--card img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title {
  margin-left: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 10px;
  color: var(--just-white);
}

.product--card-body {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--light-grey);
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("./assets/imgs/bitcoinbaby2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
  padding-top:  50px;
  font-size: 24px;
  font-weight: bold;
  line-height: 2.6rem;
  text-align: center;
  color: var(--off-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.footer-container {
  background-color: var(--bitcoin-orange);
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.footer--batata-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-right: 30px; 
}

.footer-content {
  padding-left: 30px;
  text-align: left; 
  flex-grow: 1; 
}

.footer--batata-logo {
  width: 40.57px; 
  height: 24px; 
  background-image: url("./assets/icons/batata.svg");
  background-size: contain;
  background-repeat: no-repeat; 
  margin-top: 5px; 
}

.batata-subtitle {
  margin-top: 5px; 
  font-size: 8px; 
  color: var(--off-white); 
}

.footer-links {
  margin-top: 14px; 
}

.footer-links td {
  color: var(--just-white); 
  margin: 0 15px; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 15px 10px;
  margin-top: auto;
  margin-bottom: 50px;
  background-color: var(--off-white);
}

.carousel-item {
  margin: 0 20px; 
  padding: 20px; 
  border: 1px solid var(--just-white); 
  border-radius: 10px; 
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 190px; 
  height: 247px; 
  position: relative;
  background-color: var(--just-white);
}

.carousel-button {
  background-color: transparent; 
  color: #007bff; 
  border: none; 
  font-size: 14px; 
  cursor: pointer; 
  margin: 0 10px; 
  transition: color 0.3s; 
  border-radius: 4px;
}

.carousel-button:hover {
  color: #0056b3; 
}

/* Estilos para títulos */
.carousel-item h3 {
  margin: 10px 0 10px;  
  font-size: 14px; 
  color: #000000;
}

/* Estilos para precios */
.price-container {
  position: relative; 
  display: inline-block; 
  margin: 0 0 10px;
}

.price-symbol {
  position: absolute; 
  font-size: 12px; 
  top: 6.5px; 
  left: -10px; 
  right: px;
  color: #000; 
}

.price {
  margin: 0; 
  font-size: 52px; 
  font-weight: 700; 
  line-height: 62.93px; 
  letter-spacing: -0.08em; 
  text-align: left; 
  color: #000000; 
}

/* Estilos para la descripción */
.description {
  margin: 0 0 20px; 
  color: #444; 
  font-size: 12px; 
  line-height: 1.5;
  text-align: center; 
}

.choice-button {
  border: 2px solid #F7931A; 
  font-size: 13px;
  background-color: #FAF8F7;
  color: #201E1C;
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
  gap: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  width: 151px;
  height: 48px;
  border-radius: 4px;
}

.choice-button svg {
  width: 16px;
  height: 16px;
  stroke: #F7931A; 
  transition: stroke 0.3s ease;
}

.choice-button:hover svg {
  stroke: #FF9900; 
}


.recommended-badge {
  background-color: #F7931A; 
  color: white; 
  padding: 5px 10px; 
  border-radius: 10px; 
  position: absolute; 
  top: -15px; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 12px; 
  font-weight: bold; 
  z-index: 1; 
  width: 101px; 
  height: 31px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  line-height: 1; 
}


.carousel-button {
  background-color: transparent;  
  border: none;                   
  cursor: pointer;               
  padding: 10px;                  
}

.carousel-button svg {
  width: 24px;        
  height: 24px;       
  stroke: #BABABA;    
  transition: stroke 0.3s;  
}

.carousel-button:hover svg {
  stroke: #0056b3;  
}


@media (min-width: 1024px) {
  header {
    height: 400px;
  }

  .header--title-container h1 {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .header--title-container p {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .header--title-container .header--button {
    width: 250px;
    height: 50px;
    font-size: 1.6rem;
    margin-top: 105px;
  }
}


@media (min-width: 1024px) {
  .main-exchange-container,
  .payment-container {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .main-exchange-container h2,
  .payment-container h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .main-exchange-container p,
  .payment-container p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .main-currency-table {
    width: 80%;
    height: 400px;
  }

  .currency-table--container td {
    font-size: 1.8rem;
    line-height: 4.2rem;
  }
}


@media only screen and (min-width: 768px) {
  .main-product-detail {
    margin-top: 100px; 
  }

  .product-detail--batata-logo {
    width: 40px; 
    height: 25px; 
  }

  .product-detail--title p {
    font-size: 1.4rem; 
    line-height: 1.8rem; 
  }

  .product-detail--card {
    max-width: 400px; 
    height: 150px; 
  }

  .product--card-title {
    font-size: 1.8rem; 
  }

  .product--card-body {
    font-size: 1.4rem; 
  }

  .bitcoin-img-container {
    height: 50vh; 
  }
}


@media only screen and (min-width: 768px) {
  .bitcoin-img-container {
    height: 50vh; 
  }

  .bitcoin-img-container h2 {
    padding-top: 50px;
    font-size: 2.4rem; 
    line-height: 2.6rem;
  }
}


@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row; 
    padding: 20px; 
  }

  .footer--batata-container {
    align-items: flex-start; 
  }

  .footer-content {
    padding-left: 30px; 
    text-align: left; 
  }

  .batata-subtitle {
    font-size: 8px; 
  }

  .footer-links {
    margin-top: 14px; 
  }

  .footer-links td {
    margin: 0 15px; 
  }
}


@media only screen and (min-width: 768px) {
  .carousel-container {
    flex-direction: row; 
    margin: 20px 0px 55px; 
  }

  .carousel-item {
    margin: 0 20px; 
    width: 190px; 
    height: 247px; 
    padding: 20px; 
  }

  .carousel-button {
    font-size: 2rem; 
    margin: 0 10px; 
  }

  .carousel-item h3 {
    font-size: 14px; 
  }

  .price {
    font-size: 52px; 
    line-height: 62.93px; 
  }

  .description {
    font-size: 12px;
  }

  .choice-button {
    width: 151px; 
    font-size: 14px; 
  }

  .recommended-badge {
    font-size: 12px; 
    padding: 5px 10px; 
  }
}

